html {
  box-sizing: border-box;
  background-color: #424040; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  color: #222222; }

.heading__primary {
  text-align: center;
  font-size: 2rem; }

.round {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.game {
  height: 15rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .game__player-1 {
    height: 100%;
    padding: 0.25rem;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .game__player-2 {
    height: 100%;
    padding: 0.25rem;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    order: 1; }
  .game .round-score-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .game .dice {
    height: 100%;
    width: 20%;
    background-color: #beb1b1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .game .dice__img {
      width: 2.5rem; }
  .game .active {
    background-color: white; }

.roll {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .roll__btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2rem;
    align-self: center;
    font-size: 1rem;
    padding: 1rem 2rem;
    background-color: #beb1b1;
    color: black;
    font-weight: 500;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.45);
    transition: all 0.15s ease-in-out;
    -webkit-appearance: none;
    font-size: 1.25rem; }
    .roll__btn:hover {
      transform: translateY(0.05rem);
      box-shadow: 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.45);
      background-color: #b2a3a3; }
    .roll__btn:active {
      transform: translateY(0.1rem);
      box-shadow: 0.6rem 0.6rem 1.75rem rgba(0, 0, 0, 0.45);
      outline: none; }
