.round {
   width: 100%;
   margin-top: 1rem;
   font-size: 1.5rem;
   @include flex(row,center,center);
}


.game {
   height: 15rem;
   margin-top: 1rem;
   font-size: 1.5rem;
   @include flex(row, space-around);

   &__player-1 {
      height: 100%;
      padding: 0.25rem;
      background-color: lightgray;   
      @include flex(column, space-between, center);

   }
         
   &__player-2 {
      height: 100%;
      padding: 0.25rem;
      background-color: lightgray; 
      @include flex(column, space-between, center); 
      order: 1;
   }

   .round-score-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .dice {
      height: 100%;
      width: 20%;
      background-color: rgb(190, 177, 177);
      @include flex(column, space-around);
   
         &__img {
            width: 2.5rem;
         }
   }

   .active {
      background-color: lighten(lightgray, $amount: 50%);
   }

   
}



.roll {
   margin-top: 3rem;
   width: 100%;
   @include flex(row, center);

      &__btn {
         @include button(black, rgb(190, 177, 177));
         font-size: 1.25rem;
      }
}





