.container {
   height: 50%;
}

.round {
   width: 100%;
   margin-top: 1rem;
   font-size: 1.5rem;
   @include flex(row,center,center);
}


.players {
   height: 20rem;
   margin-top: 1rem;
   font-size: 1.5rem;
   @include flex(row, space-around);

   &__1 {
      height: 100%;
      background-color: lightgray;   
      @include flex(column, space-around);

   }
         
   &__2 {
      height: 100%;
      background-color: lightgray; 
      @include flex(column, space-around); 
      order: 1;
   }

   .round-score-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .active {
      background-color: lighten(lightgray, $amount: 50%);
   }
}

.dice {
   height: 20rem;
   width: 5rem;
   background-color: rgb(190, 177, 177);
   @include flex(column, space-around);

      &__img {
         width: 3rem;
      }
}

.roll {
   margin-top: 3rem;
   width: 100%;
   @include flex(row, center);

      &__btn {
         @include button(black, rgb(190, 177, 177));
         font-size: 1.5rem;
      }
}





